# dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# testing
/.jest
/coverage

# next.js
/.next
/build
/out

# expo web
/.expo
/web-build
/web-report

# expo native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# misc
.DS_Store
.vscode
.env*
!.env.example
